@inherits LayoutComponentBase

<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">Student Portal</a>
        <div class="navbar-nav">
            <a class="nav-link" href="/">Students List</a>
        </div>
    </div>
</nav>

<div class="container">
    <main>
        @Body
    </main>
</div>